.oriBtn {
	width:150px;
	height:24px;
	line-height: 24px;
	font-size: 12px;
	font-family: sans-serif;
	background-color: #fafafa;
	text-align: center;
	border:1px solid;
	border-radius:12px;
    cursor: pointer;
}

.oriBtn:hover {
	background-color: #00ffff;
}

.mt5 {
	margin-top:5px;
}
.mb5 {
	margin-bottom:5px;
}
.ml5 {
	margin-left:5px;
}
.mr5 {
	margin-right:5px;
}